.container {
    @include breakpoint-down(xsmall){
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    .bg__top {
        width: 39.5rem;
        position: absolute;
        top: -15.875rem;
        left: 1.688rem;

        @include breakpoint-down(xsmall){
            display: none;
        }

    }


    .bg__bottom {
        width: 36rem; //51.5rem;
        height: 27rem; //added
        position: absolute;
        right: -2.625rem;
        top: 17.875rem;
        overflow: hidden; //added

        @include breakpoint-down(xsmall){
            display: none;
        }

    }
    

    .postcard {
        display: flexbox;
        flex-wrap: nowrap;
        text-align: center;
        position: absolute;
        background-color: white;
        width: 23rem;
        height: 24.3125rem;
        margin-top: 10rem;
        margin-left: 10.625rem;
        border-radius: 0.625rem;
        z-index: 1;
        left: 23.625rem;

        @include breakpoint-down(xsmall){
            left: -9.1875rem;
            width: 20rem;
            bottom: 5.0625rem;
        }


        .postcard__top {
            position: relative;
            width: 23rem;
            height: 9.375rem;
            img {
                width: 100%;
                border-top-left-radius: 0.625rem;
                border-top-right-radius: 0.625rem;
            }

            @include breakpoint-down(xsmall){
                width: 20rem;
            }

        }

        .postcard__pic {
            img {
                border-radius: 50%;
                border: 0.35em solid white;
                position: relative;
                top: -3.5625rem;

            }
        }

        .line > span{

            display: block;
            background-color: #6a6f81;
            width: 22.9375;
            height: 1px;

            @include breakpoint-down(xsmall){
                width: 20rem;
            }
            /**
            @media only screen and (max-width: 375px) {
                width: 320px;
            }
            **/
        }

        .name__contain {
            display: flex;
            flex-direction: row;
            position: relative;
            top: -2.1875rem;
            left: 7.8125rem;

            div {
                width: 7.125rem;
                margin: -0.4375rem;
                text-align: center;
                line-height: 1.5625rem;

                span {
                    font-size: $font-med;
                    font-weight: bold;
                    margin-left: -1.125rem;
                    font-family: 'Kumbh Sans', sans-serif;
                } 
            }
        }

        .row__contain {
            display: flex;
            flex-direction: row;


            div {
                width: 6.25rem;
                margin: 1.4375rem;
                text-align: center;
                line-height: 1.5625rem;
                font-size: small;

                span {
                    font-size: $font-med;
                    font-weight: bold;
                    font-family: 'Kumbh Sans', sans-serif;
                } 
             }
        

        
        }
    

    }


}